
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@ViewData["Title"] - PensionSystem</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- External CSS Libraries -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.4.1/css/buttons.dataTables.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <!-- Local CSS -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" media="all" />
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" media="all" />

    <!-- Scripts: jQuery, Bootstrap, AdminLTE, DataTables, Plugins -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
            integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.1/jquery-ui.min.js"
            integrity="sha256-eTyxS0rkjpLEo16uXTS0uVCS4815lc40K2iVpWDvdSY="
            crossorigin="anonymous"></script>
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/dist/js/adminlte.min.js"></script>
    <script src="~/js/site.js"></script>
    <script src="_framework/blazor.server.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.6/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.10.1/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.4.1/js/buttons.colVis.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
</head>
<body>
    <div class="hold-transition sidebar-mini layout-navbar-fixed">
        <div class="wrapper">
            <partial name="_Navbar" />
            <partial name="_MainSideBar" />
            <div class="content-wrapper">
                <section class="content-header">
                    <div class="container-fluid">
                        <div class="row mb-2">
                            <div class="col-sm-6">
                                <h1>@ViewData["Title"]</h1>
                            </div>
                            <div class="col-sm-6">
                                <ol class="breadcrumb float-sm-right">
                                    <li class="breadcrumb-item">
                                        <a asp-page="/Index">Home</a>
                                    </li>
                                    @if (!string.IsNullOrEmpty(ViewData["Title"]?.ToString()))
                                    {
                                        <li class="breadcrumb-item">@ViewData["Title"]</li>
                                    }
                                    @if (!string.IsNullOrEmpty(ViewData["SubTitle"]?.ToString()))
                                    {
                                        <li class="breadcrumb-item active">@ViewData["SubTitle"]</li>
                                    }
                                </ol>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="content">
                    <div class="container-fluid">
                        <div class="row">
                            @RenderBody()
                        </div>
                    </div>
                </section>
            </div>
            <partial name="_Footer" />
            <partial name="_ControlSideBar" />
        </div>
    </div>

    <script>
        // Keep session alive
        $(function () {
            setInterval(function () {
                $.post('@Url.Action("DummyRequest", "Home")')
                    .done(() => console.log('Session kept alive.'))
                    .fail((xhr, status, error) => console.log('Error: ' + error));
            }, 295000);
        });

        // AJAX helpers
        function ajaxFormSubmit(formId, url, onSuccess, onError) {
            const $form = $("#" + formId);
            $.ajax({
                url: url,
                type: "POST",
                data: $form.serialize(),
                dataType: "json",
                success: onSuccess,
                error: onError
            });
        }

        function Save() {
            ajaxFormSubmit("CreateUpdate", "@Url.Action("Save")", function () {
                $("#modal-default").modal("hide");
                LoadList();
            }, function (req, status, error) {
                window.alert(error);
            });
        }

        function AddOnly() {
            ajaxFormSubmit("Create", "@Url.Action("Add")", function () {
                $("#modal-default").modal("hide");
                LoadList();
            }, function (req, status, error) {
                $("#ErrorDiv").html(error);
            });
        }

        function AddOrUpdate(value) {
            $.get("@Url.Action("Crud")", { id: value }, function (msg) {
                $("#modal-default").modal("show");
                $("#modal-body").html(msg);
            }).fail(function (req, status, error) {
                alert(error);
            });
        }

        function Create() {
            $.get("@Url.Action("Create")", function (msg) {
                $("#modal-default").modal("show");
                $("#modal-body").html(msg);
            }).fail(function (req, status, error) {
                alert(error);
            });
        }

        function LoadList() {
            awaitHtmlElement("#content");
            $.get("@Url.Action("Load")", function (msg) {
                $("#content").html(msg);
            }).fail(function (req, status, error) {
                alert(`${error}\n${req}\n${status}`);
            });
        }

        function Delete(id) {
            if (id && window.confirm("Are you sure you want to delete this item?")) {
                $.post("@Url.Action("Delete")", { id: id }, function (msg) {
                    $("#content").html(msg);
                    LoadList();
                }).fail(function (req, status, error) {
                    alert(`${error}\n${req}\n${status}`);
                });
            }
        }
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>