@using Pension.Entities.Helpers
@model PensionSystem.ViewModels.UploadPaymentVM
@{
    ViewData["Title"] = "Pension Arrears ";
    ViewData["SubTitle"] = "Upload Bulk";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card ">
    <div class="card-header">
        <div class="card-title">
            Upload File
        </div>
        <div id="content" class="row form-group">
        </div>
    </div>
    <div class="card-body">
        <p>
            <ol>
                <li>Download the excel </li>
                <li>Change the Data by applying formula</li>
                <li class="text-danger">Do not change the first column</li>
                <li class="text-danger">Remove the PPO and Company Column</li>
                <li>Upload the File in CSV Format</li>
            </ol>
        </p>
        <form enctype="multipart/form-data" class="form">
            <div class="row">
                <div class="col-md-6">
                    <label class="control-lable" for="file-input">CSV File for allow Increases to Pensioners</label>
                    <input type="file" id="file-input" name="file" size="1" class="form-control" />
                </div>
                <div class="col-md-6">
                    <div class="">
                        <div class="form-group">
                            <label asp-for="ArrearsDemandId" class="control-label"></label>
                            <select asp-for="ArrearsDemandId" class="form-control" asp-items="ViewBag.ArrearsDemandId"></select>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
    <div class="card-footer">

        <div class="col-md-2">
            <button class="btn btn-info btn-block" id="btnUploadCsv">
                Upload Arrear File
            </button>
        </div>
    </div>
</div>
<div class="card">
    @if (Model.Pensioners != null)
    {
        <div class="card-header">
            <div class="card-title">Sample For Modification </div>
        </div>
        <div class="card-body">
            <table class="table table-bordered" id="data-table">
                <thead>
                    <tr>
                        <th>PensionerId</th>
                        <th>PPO</th>
                        <th>Company</th>
                        <th>Description</th>
                        <th>MP</th>
                        <th>CMA</th>
                        <th>Orderly</th>
                        <th>Net</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Months</th>
                        <th>Deduction</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Pensioners)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.PPOSystem</td>
                            <td>@item.Company.ShortName</td>
                            <td>add arrear descrption here</td>
                            <td>@item.MonthlyPension</td>
                            <td>@item.CMA</td>
                            <td>@item.OrderelyAllowence</td>
                            <td>@item.Total</td>
                            <td>@DateTime.Today.Date.ToShortDateString()</td>
                            <td>@DateTime.Today.Date.ToShortDateString()</td>
                            <td>0</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>
<script>
    $(document).ready(function () {
        $("#btnUploadCsv").click(function (e) {
            var input = document.getElementById("file-input");
            var file = input.files[0]; // Get the first selected file
            var formData = new FormData();
            formData.append("file", file); // Append the single file
            formData.append("ArrearsDemandId", $("#ArrearsDemandId").val());
            awaitHtmlElement("#content");
            $.ajax(
                {
                    url: '@Url.Action("UploadArrearPayments")',
                    data: formData,
                    processData: false,
                    contentType: false,
                    type: "POST",
                    success: function (response) {
                        $("#content").html(response.Value.RText);
                    },
                    error: function (data) {
                        $("#content").html(data.RText);
                    }
                }
            );
        });
        var dataTable = $("#data-table").DataTable({
            "responsive": true,
            "lengthChange": false,
            "autoWidth": false,
            "buttons": [
                {
                    extend: 'excel',
                    text: 'Export to Excel',
                    filename: 'arrear_payment_data', // Set the desired filename here
                }
            ],
        });
        dataTable.buttons().container().appendTo('#data-table_wrapper .col-md-6:eq(0)');
    });
</script>

