@using Microsoft.AspNetCore.Identity;
@model IdentityRole
@{
    Layout = null;
}
<form id="CreateUpdate">
    <input asp-for="Id" type="hidden" />
    <div class="row ">
        <div class="col-md-12 text-danger text-bold" id="ErrorDiv">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Name"></label>
                <input asp-for="@Model.Name" class="form-control" />
                <span asp-validation-for="@Model.Name"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.NormalizedName"></label>
                <input asp-for="@Model.NormalizedName" class="form-control" />
                <span asp-validation-for="@Model.NormalizedName"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.ConcurrencyStamp"></label>
                <input asp-for="@Model.ConcurrencyStamp" class="form-control" />
                <span asp-validation-for="@Model.ConcurrencyStamp"></span>
            </div>
        </div>
    </div>
</form>
