@using Pension.Entities.Helpers
@model PensionSystem.ViewModels.PensionerLedgerVM
@{
    ViewData["Title"] = "Payment";
    ViewData["SubTitle"] = "History";
    string bgColor = string.Empty;
}
<!-- /.col-md-6 -->
<div class="col-lg-12">
    <div class="card card-primary">
        <div>
            @if (Model.Pensioner != null && Model.Session != null)
            {
                @*table header*@
                <div id="data-table-header">
                    <h3 class="text-center">PESHAWAR ELECTRIC SUPPLY COMPANY LIMITED</h3>
                    <h4 class="text-center">@Model.Session.BaseStamp</h4>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Company : @Model.Pensioner.Company.ShortName</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">PPONumber : @Model.Pensioner.PPOSystem</label>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Name : @Model.Pensioner.Claimant</label>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered" id="data-table">
                        <thead>
                            <tr><th colspan="9">Ledger History</th></tr>
                            <tr>
                                <th>Demand#</th>
                                <th>Date</th>
                                <th>Description</th>
                                <th>MP</th>
                                <th>CMA</th>
                                <th>Orderly</th>
                                <th>Deduction</th>
                                <th>Total</th>
                                <th>Net</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.PensionerPayments != null && Model.PensionerPayments.Count > 0)
                            {
                                var listOrdered = Model.PensionerPayments.OrderByDescending(x => x.Month);
                                foreach (var item in listOrdered)
                                {
                                    if (item.Paid == 0 && item.Description == "Monthly")
                                        bgColor = "style=background-color:red;";
                                    else
                                        bgColor = "";
                                    <tr @bgColor>
                                        <td>@item.DemandNo</td>
                                        <td>@UserFormat.GetDate(item.DemandDate)</td>
                                        <td>@item.Description</td>
                                        <td>@UserFormat.GetAmount(item.MP)</td>
                                        <td>@UserFormat.GetAmount(item.CMA)</td>
                                        <td>@UserFormat.GetAmount(item.Orderly)</td>
                                        <td>@UserFormat.GetAmount(item.Deduction)</td>
                                        <td>@UserFormat.GetAmount(item.Total)</td>
                                        <td>@UserFormat.GetAmount(item.Paid)</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                    <script>
                        $(document).ready(function () {
                            $('#data-table').DataTable({
                                dom: 'Bfrtip',
                                buttons: [
                                    {
                                        extend: 'print',
                                        customize: function (win) {
                                            $(win.document.body).prepend($("#data-table-header").html()); //after the table
                                            $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                                        },
                                        title: '',
                                        message: '<div class="text-center">Ledger</div>',
                                    },
                                    'excel',
                                    'copy',
                                    'csv',
                                    'pdf'
                                ],
                                "paging": true,
                                "lengthChange": false,
                                "searching": true,
                                "ordering": false,
                                "info": true,
                            });
                        });
                    </script>
                </div>
            </div>
            @*table header*@
            <div id="table-footer">
                <p class="text-center">Note: This page is generated from 08-2021 and up to date.</p>
            </div>
        </div>
    </div>
</div>

