@using Pension.Entities.Helpers
@model PensionSystem.ViewModels.HBLPaymentViewModel
@if (Model != null && Model.HBLPaymentsList != null)
{
    string Month = Model.CurrentMonth.ToString("MM-yyyy");
    var gList = Model.HBLPaymentsList;
    <div class="card">
        <div class="card-header">
            <div class="card-title">Click Here To send SMS to All <button class="btn btn-flat btn-primary" onclick="SendSMSByChequeId()">Send SMS</button></div>
        </div>
        <div class="card-body">
        </div>
    </div>
    <div class="card">
        <div class="card-header">
            <div class="card-title">Editable</div>
        </div>
        <div class="card-body">
            <table class="table" id="table-show">
                <thead>
                    <tr>
                        <th>PPO </th>
                        <th>Pensioner</th>
                        <th>Claimant</th>
                        <th>Company</th>
                        <th>MP</th>
                        <th>CMA</th>
                        <th>Orderly</th>
                        <th>Deduction</th>
                        <th>Total</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    @if (gList != null)
                    {
                        @foreach (var item in gList)
                        {
                            <tr>
                                @if (item.Pensioner != null)
                                {
                                    <td>@item.Pensioner.PPOSystem</td>
                                    <td>@item.Pensioner.Name </td>
                                    <td>@item.Pensioner.Claimant </td>
                                    <td>@item.Pensioner.Company.ShortName </td>
                                }
                                else
                                {
                                    <td colspan="3">N/A</td>
                                }
                                <td>@UserFormat.GetAmount(item.MonthlyPension)</td>
                                <td>@UserFormat.GetAmount(item.CMA)</td>
                                <td>@UserFormat.GetAmount(item.OrderlyAllowance)</td>
                                <td>@UserFormat.GetAmount(item.Deduction)</td>
                                <td>@UserFormat.GetAmount(item.Total)</td>
                                <td>
                                    @if (item.Cheque != null && item.Cheque.IsLocked)
                                    {
                                        <span>Locked</span>
                                    }
                                    else
                                    {
                                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn bg-gradient-warning"><i class="fa fa-edit"></i> Edit</a>
                                        <button onclick="DeleteRecordById(@item.Id,this)" class="btn bg-gradient-danger"><i class="fa fa-delete"></i> Delete</button>
                                    }

                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>

    <div id="list-pensioners">
        @*table header*@
        <div id="table-header-office">
            <h3 class="text-center">PESHAWAR ELECTRIC SUPPLY COMPANY LIMITED</h3>
            <div class="row">
                <div class="col-md-6 text-start">No.______________________/G3</div>
                <div class="col-md-6 text-end">Dated: ____________________</div>
            </div>
            <div class="row"><div class="col-md-12">@Model.ChequePayee</div></div>
            <div class="row"><div class="col-md-12">SUBJECT: <u><b>CROSS CHEQUE</b></u></div></div>
            @if (Model.ChequeNumber != 0)
            {

                <div class="row">
                    <div class="col-md-12">
                        Appended please find herewith a cross cheque bearing No.<u><b>@UserFormat.GetChequeNumber(Model.ChequeNumber)</b></u>
                        Dated:<u><b>@UserFormat.GetDate(Model.ChequeDate)</b></u>      amounting to Rs. =<u><b>@UserFormat.GetAmount(Model.ChequeAmount)</b></u>/-  in respect of the following officials.
                    </div>
                </div>
            }
            else
            {
                @*now we will print a sample*@
                <div class="row">
                    <div class="col-md-12">
                        Appended please find herewith a cross cheque bearing No.<u><b>__________________</b></u>Dated:<u><b>____________________</b></u>amounting to Rs. =<u><b>__________________</b></u>/-  in respect of the following officials.
                    </div>
                </div>
            }
        </div>
        <table id="office-copy" class="table">
            <thead>
                <tr>
                    <th>PPO </th>
                    <th>Claimant</th>
                    <th>CNIC</th>
                    <th>Bank</th>
                    <th>Ac#</th>
                    <th>MP</th>
                    <th>CMA</th>
                    <th>Orderly</th>
                    <th>Deduction</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.HBLPaymentsList)
                {
                    <tr>
                        @if (item.Pensioner != null)
                        {
                            <td>@item.Pensioner.PPOSystem</td>
                            <td>@item.Pensioner.Claimant  </td>
                            <td>@item.Pensioner.ClaimantCNIC</td>
                        }
                        else
                        {
                            <td colspan="3">N/A</td>
                        }
                        <td>@item.Branch.Bank.ShortName (@item.Branch.Name)</td>
                        <td>@item.Branch.Code-@item.AccountNumber</td>
                        <td>@UserFormat.GetAmount(item.MonthlyPension)</td>
                        <td>@UserFormat.GetAmount(item.CMA)</td>
                        <td>@UserFormat.GetAmount(item.OrderlyAllowance)</td>
                        <td>@UserFormat.GetAmount(item.Deduction)</td>
                        <td>@UserFormat.GetAmount(item.Total)</td>
                    </tr>
                }
            </tbody>
        </table>
        @*footer*@
        <div id="table-footer">
            <table class="table">
                <thead>
                    <tr>
                        <th>Monthly Pension: @UserFormat.GetAmount(Model.TotalMP)</th>
                        <th>CMA: @UserFormat.GetAmount(Model.TotalCMA)</th>
                        <th>Orderly : @UserFormat.GetAmount(Model.TotalOrderly)</th>
                        <th>Deduction : @UserFormat.GetAmount(Model.TotalDeduction)</th>
                        <th>Amount : @UserFormat.GetAmount(Model.TotalPaid)</th>
                    </tr>
                    <tr>
                        <th colspan="4">Rupees : @Calculation.Convert((long)Model.TotalPaid) Only</th>
                    </tr>
                </thead>
            </table>
            <div class="container" style="margin-top: 200px;">
                @if (Model.Session != null)
                {
                    <div class="row">
                        <div class="col-6">
                            <p class="text-center">@Model.Session.AMStamp</p>
                            <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
                        </div>
                        <div class="col-6">
                            <div>
                                <p class="text-center">@Model.Session.DMStamp</p>
                                <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
    <script>
        function DeleteRecordById(id, element) {
            var isExecuted = confirm("Are you sure to delete this ?");
            if (isExecuted) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete")",
                    data: { Id: id },
                    dataType: "text",
                    success: function (msg) {
                        if (msg.RCode == 0) {
                            alert(msg.RText);
                        }
                        else {
                            alert("Deleted Successfully!");
                            var table1 = $('#table').DataTable();
                            var row = table1.row($(element).parents('tr'));
                            var rowNode = row.node();
                            row.remove();
                        }
                    },
                    error: function (req, status, error) {
                        alert(error);
                    }
                });
            }
        }
        $(document).ready(function () {

            $('#table-show').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
            });
            $('#office-copy').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'print',
                        customize: function (win) {
                            $(win.document.body).prepend($('#table-header-office').html()); // before table
                            $(win.document.body).append($("#table-footer").html()); //after the table
                            $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                        },

                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6, 7, 8,9]
                        },
                        title: '',
                        message: '',
                    },
                    'excel',
                    'copy',
                    'csv',
                    'pdf'
                ],
                "paging": true,
                "lengthChange": true,
                "searching": true,
                "ordering": false,
                "info": true,
            });
        });

    </script>
}
else
{
    <div class="alert alert-danger">No Pensioner Found!</div>
}
