@using Pension.Entities.Helpers
@model IEnumerable<PensionSystem.Entities.Models.RestorationPayment>

@{
	ViewData["Title"] = "Restoration";
	ViewData["SubTitle"] = "Home";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card">
	<div class="card-header">
		<div class="card-title"><a asp-action="Create">Create New</a></div>
	</div>
	<div class="card-body">
		@if (Model != null)
		{
			<table class="table">
				<thead>
					<tr>
						<th>@Html.DisplayNameFor(model => model.RestorationDemand.Number)</th>
						<th>@Html.DisplayNameFor(model => model.Pensioner.PPOSystem)</th>
						<th>@Html.DisplayNameFor(model => model.Pensioner.Name)</th>
						<th>@Html.DisplayNameFor(model => model.FromMonth)</th>
						<th>@Html.DisplayNameFor(model => model.ToMonth)</th>
						<th>@Html.DisplayNameFor(model => model.NumberOfMonths)</th>
						<th>@Html.DisplayNameFor(model => model.MP)</th>
						<th>@Html.DisplayNameFor(model => model.CMA)</th>
						<th>@Html.DisplayNameFor(model => model.Orderly)</th>
						<th>@Html.DisplayNameFor(model => model.NetPension)</th>
						<th>@Html.DisplayNameFor(model => model.Total)</th>
						<th>@Html.DisplayNameFor(model => model.Month)</th>
						<th>@Html.DisplayNameFor(model => model.Description)</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>@Html.DisplayFor(modelItem => item.RestorationDemand.Number)</td>
							<td>@Html.DisplayFor(modelItem => item.Pensioner.PPOSystem)</td>
							<td>@Html.DisplayFor(modelItem => item.Pensioner.Name)</td>
							<td>@UserFormat.GetDate(item.FromMonth)</td>
							<td>@UserFormat.GetDate(item.ToMonth)</td>
							<td>@Html.DisplayFor(modelItem => item.NumberOfMonths)</td>
							<td>@UserFormat.GetAmount(item.MP)</td>
							<td>@UserFormat.GetAmount(item.CMA)</td>
							<td>@UserFormat.GetAmount(item.Orderly)</td>
							<td>@UserFormat.GetAmount(item.NetPension)</td>
							<td>@UserFormat.GetAmount(item.Total)</td>
							<td>@UserFormat.GetMonthYear(item.Month)</td>
							<td>@Html.DisplayFor(modelItem => item.Description)</td>
							<td>
								<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
								<a asp-action="Details" asp-route-id="@item.Id">Details</a> |
								<a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
							</td>
						</tr>
					}
				</tbody>
			</table>
		}
	</div>
</div>

