@using PensionSystem.Entities.DTOs
@model CreateMPDemandDTO
@{
    Layout = null;
}
<div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Create</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" id="modal-body">
<form id="Create" >
    <div class="row ">
        <div class="col-md-12 text-danger text-bold" id="ErrorDiv">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Number"></label>
                <input asp-for="@Model.Number" class="form-control" />
                <span asp-validation-for="@Model.Number"></span>
            </div>
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Description"></label>
                <input asp-for="@Model.Description" class="form-control" />
                <span asp-validation-for="@Model.Description"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label asp-for="@Model.Date"></label>
                <input asp-for="@Model.Date" class="form-control" value="@DateTime.Now.Date.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="@Model.Date"></span>
            </div>
        </div>
    </div>
</form>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="AddOnly()">Add</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div
