@using Pension.Entities.Helpers
@model PensionSystem.Entities.Models.Pensioner

@if (Model != null)
{
    <link href="/lib/print/print.min.css" rel="stylesheet" />
    <div id="printDiv" style="width: 700px;max-width: 700px;padding:5px; font-size:12px;">
        @if (Model != null)
        {
            <div id="page first-page">
                <div id="header">
                    <h3 class="text-center font-weight-bold text-decoration-underline">PESHAWAR ELECTRIC SUPPLY COMPANY LIMITED</h3>
                    <h4 class="text-center font-weight-bold text-decoration-underline">AlIVE CERTIFICATE</h4>
                    <h5 class="text-center font-weight-bold text-decoration-underline">VALID FOR 3 MONTHS ONLY</h5>
                </div>
                <div class="row">
                    <p>class="text-end" ">PPO # @Model.PPOSystem</p>
                </div>
                <div class="row">
                    <p style="line-height: 3em; text-indent:3em;">
                        It is certified that
                        @if (Model.Gender == 'F')
                        {
                            <u><b>Mst. @Model.Claimant</b></u>
                            @Model.Relation.Short <u> <b>@Model.Name</b></u>
                        }
                        else
                        {
                            <u> <b>Mr. @Model.Name S/O @Model.FatherName </b></u>
                        }
                        Ex. <u> <b>@Model.Designation</b></u> Retired From <u><b>@Model.Company.ShortName</b></u> Having PPO # <u><b>@Model.PPONumber</b></u> Holding National Identity No. <u><b>@Model.ClaimantCNIC</b></u>
                        Mobile No: <u><b>@UserFormat.GetMobilePK(Model.Mobile) </b></u> Bank Account # <u><b>@Model.Branch.Code-@Model.AccountNumber</b></u>
                        Bank Name &amp; Branch <u><b>@Model.Branch.Bank.ShortName (@Model.Branch.Name)</b></u>
                        Resident Of  <u><b>@Model.Address</b></u> called on me and he/she is alive.
                    </p>
                </div>
                <div class="row" style="margin-top:40px">
                    <div class="signature_section" style="height:90px;">
                        <div style="border:1px solid black; height:90px; width:250px;margin-right: 0px;margin-left: auto;">
                            <div style="text-align: center;margin: -26px;">
                                Claimant Thumb/Signature
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divFooter" style="margin-top : 10px;">
                    <div class="text-small" style="color:gray;">
                        Note: - Gazetted Officers may sign this certificate which is purely for pension transfer purpose from PESCO to Pensioner’s Bank account.
                        This   certificate is valid for Three months only. Physical visit required twice in a year i.e., January and July and alive certificates need to submit two times in a year i.e. April and October
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <div class="alert alert-danger" role="alert">No Pensioner Found</div>
}
