@using Pension.Entities.Helpers;
@model PensionSystem.ViewModels.CashBookVM
@{
    Layout = null;
    int totalCompanies = 0;
    if (Model.CashBookCompanyVMs != null)
    {
        totalCompanies = Model.CashBookCompanyVMs.Max(x => x.CompanyID);
    }
    decimal TotalCompany = 0;
    decimal totalselfcompany = 0;
    decimal totalfamilycompany = 0;
    decimal totalorderlycompany = 0;
    decimal totalcommutationcompany = 0;
    decimal totalbankchargescompany = 0;
}
<div class="">
    <div id="table-header">
        <h3 class="text-center text-bold">PESHAWAR ELECTRIC SUPPLY COMPANY LTD.</h3>
        <h4 class="text-center text-bold">@Model.Session.BaseStamp</h4>
        <h5 class="text-center text-bold">Total Number of Pensioners (Self/Family) of WAPDA and Other Companies for the month of of @UserFormat.GetMonthYear(Model.Month)</h5>
    </div>
    <table class="table table-bordered" id="data-table">
        <thead>
            <tr>
                <th>S.No</th>
                <th>Company</th>
                <th>Self </th>
                <th>Family </th>
                <th>Orderly </th>
                <th>Commutation </th>
                <th>Bank Charge</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.CashBookCompanyVMs != null && Model.CashBookCompanyVMs.Count > 0)
            {
                int serialNumber
                = 1;
                decimal lTotalCompany = 0;
                decimal ltotalselfcompany = 0;
                decimal ltotalfamilycompany = 0;
                decimal ltotalorderlycompany = 0;
                decimal ltotalcommutationcompany = 0;

                foreach (var c in Model.CashBookCompanyVMs)
                {
                    var CompanyDetail = Model.CashBookCompanyVMs.Where(x => x.CompanyID == c.CompanyID);
                    ltotalselfcompany = CompanyDetail.Sum(x => x.SelfMP) + CompanyDetail.Sum(x => x.SelfCMA)
                    + CompanyDetail.Sum(x => x.SelfArrearsMP) + CompanyDetail.Sum(x => x.SelfArrearsCMA)
                    - CompanyDetail.Sum(x => x.SelfRecovery);
                    ltotalfamilycompany = CompanyDetail.Sum(x => x.FamiliyMP) + CompanyDetail.Sum(x => x.FamilyCMA)
                    + CompanyDetail.Sum(x => x.FamilyArrearsMP) - (+CompanyDetail.Sum(x => x.FamilyRecovery));
                    ltotalorderlycompany = CompanyDetail.Sum(x => x.Orderly);
                    ltotalcommutationcompany = CompanyDetail.Sum(x => x.Commutation);
                    lTotalCompany = ltotalselfcompany + ltotalfamilycompany + ltotalcommutationcompany + ltotalorderlycompany;
                    if (lTotalCompany > 0)
                    {
                        <tr>
                            <td>@serialNumber</td>
                            <td>@c.Name</td>
                            <td> @UserFormat.GetAmount(ltotalselfcompany) </td>
                            <td>@UserFormat.GetAmount(ltotalfamilycompany)</td>
                            <td>@UserFormat.GetAmount(ltotalorderlycompany)</td>
                            <td>@UserFormat.GetAmount(ltotalcommutationcompany)</td>
                            <td></td>
                            <td>@UserFormat.GetAmount(lTotalCompany)</td>
                        </tr>
                        serialNumber++;
                    }
                    totalselfcompany += ltotalselfcompany;
                    totalfamilycompany += ltotalfamilycompany;
                    totalorderlycompany += ltotalorderlycompany;
                    totalcommutationcompany += ltotalcommutationcompany;
                    TotalCompany += lTotalCompany;
                  
                }
            }
        </tbody>
        <tfoot>
            <tr>

                @if (Model.CashBookCompanyVMs != null)
                {
                    <th></th>
                    <th>Total</th>
                    <th>@UserFormat.GetAmount(totalselfcompany)</th>
                    <th>@UserFormat.GetAmount(totalfamilycompany) </th>
                    <th>@UserFormat.GetAmount(totalorderlycompany) </th>
                    <th>@UserFormat.GetAmount(totalcommutationcompany) </th>
                    <th>-</th>
                    <th>@UserFormat.GetAmount(TotalCompany)</th>
                }
                else
                {
                    <th colspan="9"></th>
                }
            </tr>
        </tfoot>
    </table>
    <div id="table-footer">
        <div class="container" style="margin-top: 200px;">
            <div class="row">
                @if (Model.Session != null)
                {
                    <div class="col-6">
                        <p class="text-center">@Model.Session.AMStamp</p>
                        <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
                    </div>
                    <div class="col-6">
                        <div>
                            <p class="text-center">@Model.Session.DMStamp</p>
                            <p class="text-center" style="margin-top: -20px;">@Model.Session.BaseStamp</p>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="container" style="margin-top: 200px;">
    <script>
        $(document).ready(function () {
            var dataTable = $("#data-table").DataTable({
                "responsive": true,
                "sorting": false,
                "lengthChange": false,
                "autoWidth": false,
                buttons: [
                    {
                        extend: 'print',
                        footer: true,
                        customize: function (win) {
                            $(win.document.body).prepend($('#table-header').html()); // before table
                            $(win.document.body).append($("#table-footer").html()); //after the table
                            $(win.document.body).find('table').addClass('compact').css('font-size', 'inherit');
                            var last = null;
                            var current = null;
                            var bod = [];
                            var css = '@@page { size: landscape; }', head = win.document.head || win.document.getElementsByTagName('head')[0], style = win.document.createElement('style');
                            style.type = 'text/css';
                            style.media = 'print';
                            if (style.styleSheet) {
                                style.styleSheet.cssText = css;
                            }
                            else {
                                style.appendChild(win.document.createTextNode(css));
                            }
                            head.appendChild(style);
                        },
                        title: '',
                        message: '',
                    },
                    'excel',
                    'copy',
                    'csv',
                    'pdf'
                ],
            });
            dataTable.buttons().container().appendTo('#data-table_wrapper .col-md-6:eq(0)');
        });
    </script>
</div>

